# .gitignore
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
.venv/
venv/

# Django
db.sqlite3
/media
*.log
*.pot
*.mo
*.po

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Operating System
.DS_Store
Thumbs.db
