<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <div>
      <h1>{{ title }}</h1>
      <form method="post">
        {% csrf_token %} {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% for field in form %}
        <div>
          {{ field.label_tag }} {{ field }} {% if field.help_text %}
          <small>{{field.help_text}}</small>
          {% endif %} {% if field.errors %}
          <ul>
            {% for error in field.errors %}
            <li>{{ errors }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}
        <button type="submit">Register</button>
      </form>
      <a href="{% url 'login' %}">Already have an account? Login here!</a>
    </div>
  </body>
</html>
