<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/css/register.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">{{ title }}</h1>
      <form method="post" class="form-container">
        {% csrf_token %}
        
        {% if form.non_field_errors %}
        <div class="error-list">
          {% for error in form.non_field_errors %}
            <li class="error-msg">{{ error }}</li>
          {% endfor %}
        </div>
        {% endif %}
        
        {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          <ul class="error-list">
            {% for error in field.errors %}
              <li class="error-msg">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if field.help_text and not field.errors %}
          <small class="help-text">{{ field.help_text|safe }}</small>
          {% endif %}
        </div>
        {% endfor %}
        
        <button type="submit" class="submit-btn">Register</button>
      </form>
      <a href="{% url 'login' %}" class="login-btn">Already have an account? Login here!</a>
    </div>
  </body>
</html>
