<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/css/task_form.css' %}" />
  </head>
  <body>
    <div class="container">
      <h1 class="title">{{ title }}</h1>
      <form method="post" class="form-container">
        {% csrf_token %} {% if form.non_field_errors %}
        <ul class="error-list">
          {% for error in form.non_field_errors %}
          <li class="error">{{ error }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% for field in form %}
        <div class="error-container">
          {{ field.label_tag }} {{ field }} {% if field.help_text %}
          <small>{{ field.help_text }}</small>
          {% endif %} {% if field.errors %}
          <ul class="error-list">
            {% for error in field.errors %}
            <li class="error">{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {% endfor %}
        <button class="submit-button" type="submit">Save Task</button>
      </form>
      <a href="{% url 'tasks:task_list' %}" class="nav-link">Back to Task List</a>
    </div>
  </body>
</html>
